Accounting OCR & Fraud.json
{
  "name": "Accounting OCR & Fraud",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoice-ocr",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1376,
        96
      ],
      "id": "6fd82bc3-2ff2-4f1e-93f5-a2286dcecc35",
      "name": "Webhook",
      "webhookId": "c042523e-0206-43be-92c9-68fbfdf3eac5"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "You are an expert AI Accounting Assistant. Read the attached invoice and extract the core data.\n\nReturn EXACTLY a JSON object with this structure (do not include any markdown formatting like ```json, just the raw JSON):\n{\n  \"supplier_name\": \"Name of the company\",\n  \"total_amount\": 0.00,\n  \"invoice_date\": \"YYYY-MM-DD\",\n  \"item_name\": \"Name of the primary product purchased\",\n  \"quantity\": 0\n}",
        "inputType": "binary",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -1104,
        96
      ],
      "id": "059aa52b-f965-4e94-87e6-c66dd828bfdc",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "pLS88ockeug0VceI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd4c4a90-a228-4277-899c-b4fd994f596d",
              "name": "invoice_data",
              "value": "={{ JSON.parse($json.content.parts[0].text) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        96
      ],
      "id": "4b4c3ea4-7113-481d-9db9-e0bd329886d4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=You are the lead Fraud Detection Auditor for RetailFlow AI. \n\nA new invoice just arrived from our supplier, {{ $('Edit Fields').item.json.invoice_data.supplier_name }}. \nThe total amount on this new invoice is ${{ $('Edit Fields').item.json.invoice_data.total_amount }}.\nThe total number of units purchased for that primary product is {{ $json.invoice_data.quantity }}\n\nHere is the historical context from our database: \nOur average invoice amount from any supplier over the past 12 months is exactly $450.00.\n\nYour rules:\n1. Compare the new invoice amount to the historical average. \n2. If the new amount is more than 2x the historical average, output ONLY the word \"FLAGGED: POTENTIAL OVERCHARGE\".\n3. If the amount is normal, output ONLY the word \"APPROVED\".\n\nDo not write any other text or explanation. Output only the status word."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -688,
        96
      ],
      "id": "f02d2755-0cc3-4508-a38d-55ee58b51037",
      "name": "Message a model",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "pLS88ockeug0VceI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "88ac6c6c-f15b-4e8e-897f-fd7c5289734f",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "APPROVED",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -320,
        96
      ],
      "id": "77396579-eedd-4ddb-8ad3-f26c2c73146b",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "shihabalrezwan00@gmail.com",
        "subject": "=🚨 FRAUD ALERT: Suspicious Invoice from {{ $('Edit Fields').item.json.invoice_data.supplier_name }}",
        "message": "=<h2 style=\"color: #d93025;\">🚨 FRAUD ALERT: Action Required</h2> <p>The RetailFlow AI Auditor has caught a suspicious invoice.</p> <ul>   <li><strong>Supplier:</strong> {{ $('Edit Fields').item.json.invoice_data.supplier_name }}</li>   <li><strong>Invoice Amount:</strong> <span style=\"color: red; font-size: 18px;\"><strong>${{ $('Edit Fields').item.json.invoice_data.total_amount }}</strong></span></li> </ul> <p><em>Reason for flag: This amount is significantly higher than the 12-month historical average for this supplier.</em></p> <p>Please log into the RetailFlow dashboard to review the physical document immediately.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -112,
        192
      ],
      "id": "e2cf260d-e4ed-44d8-9d6d-3122dfa4a8b3",
      "name": "Send a message",
      "webhookId": "46cec42c-b434-4b8c-a9b5-bd9443b68a0d",
      "credentials": {
        "gmailOAuth2": {
          "id": "o1fcspvGcYBB96Mj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO invoices (supplier_name, amount, date) \nVALUES ('{{ $('Edit Fields').item.json.invoice_data.supplier_name }}', {{ $('Edit Fields').item.json.invoice_data.total_amount }}, '{{ $('Edit Fields').item.json.invoice_data.invoice_date }}');\n\nUPDATE products \nSET stock = stock + {{ $('Edit Fields').item.json.invoice_data.quantity }}\nWHERE name LIKE CONCAT('%', '{{ $('Edit Fields').item.json.invoice_data.item_name }}', '%');",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -128,
        -48
      ],
      "id": "210236f6-e8aa-42dd-9a53-799d8947c474",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "LqCaJvLVJSWsch7t",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1. Insert the invoice itself\nINSERT INTO invoices (supplier_name, amount, date) \nVALUES ('{{ $('Edit Fields').item.json.invoice_data.supplier_name }}', {{ $('Edit Fields').item.json.invoice_data.total_amount }}, '{{ $('Edit Fields').item.json.invoice_data.invoice_date }}');\n\n-- 2. Insert the reason into the alerts table using the ID we just created\nINSERT INTO alerts (message, created_at, invoice_id, reason) \nVALUES ('Action Required: Suspicious Invoice', \n    NOW(), LAST_INSERT_ID(), 'Amount is significantly higher than the 12-month historical average.');",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        96,
        192
      ],
      "id": "f3d48547-1d95-49b4-b4f2-0645685e46a9",
      "name": "Execute a SQL query1",
      "credentials": {
        "mySql": {
          "id": "LqCaJvLVJSWsch7t",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        []
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ee3a4cde-8f87-4043-9e35-18ea5747388b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce62150a4f24a409dc3ba82bb588952b8fea7eedf38318e03bd3a93b8f0b9ede"
  },
  "id": "uKolJBYwDzYNoNrn",
  "tags": []
}