Admin Reorder Agent.json
{
  "name": "Admin Reorder Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-reorder",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        400,
        432
      ],
      "id": "8ef32452-9082-4546-bcf3-771fb1a59cde",
      "name": "Webhook",
      "webhookId": "26cf4f83-1de3-473c-b293-e9838f38b2df"
    },
    {
      "parameters": {
        "content": "Admin Reorder Agent\n",
        "height": 400,
        "width": 2176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        384
      ],
      "typeVersion": 1,
      "id": "a0faf08c-20d0-4ab0-bd92-590632d0fb60",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        432
      ],
      "id": "e31bea80-77c7-4844-8a6d-54e0288304b6",
      "name": "mapping"
    },
    {
      "parameters": {
        "sendTo": "shihabalrezwan00@gmail.com",
        "subject": "Low Inventory Alert – Immediate Attention Required",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n<style>\n  body {\n    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n    background-color: #f4f4f9;\n    margin: 0;\n    padding: 20px;\n  }\n  .email-container {\n    max-width: 600px;\n    margin: 0 auto;\n    background-color: #ffffff;\n    border-radius: 8px;\n    overflow: hidden;\n    box-shadow: 0 4px 12px rgba(0,0,0,0.05);\n    border: 1px solid #e1e4e8;\n  }\n  .header {\n    background-color: #1e293b;\n    color: #ffffff;\n    padding: 25px;\n    text-align: center;\n  }\n  .header h2 {\n    margin: 0;\n    font-size: 22px;\n    letter-spacing: 1px;\n  }\n  .content {\n    padding: 30px;\n    color: #334155;\n    line-height: 1.6;\n    font-size: 15px;\n  }\n  .order-box {\n    background-color: #f8fafc;\n    border-left: 4px solid #3b82f6;\n    padding: 20px;\n    margin: 25px 0;\n    border-radius: 4px;\n  }\n  .dynamic-data {\n    font-size: 18px;\n    font-weight: bold;\n    color: #0f172a;\n  }\n  .footer {\n    background-color: #f1f5f9;\n    color: #64748b;\n    padding: 20px;\n    text-align: center;\n    font-size: 12px;\n    border-top: 1px solid #e2e8f0;\n  }\n</style>\n</head>\n<body>\n  <div class=\"email-container\">\n    <div class=\"header\">\n      <h2>RetailFlow AI System</h2>\n    </div>\n    <div class=\"content\">\n      <p>Hello Supplier,</p>\n      <p>This is an automated procurement request generated by the RetailFlow Inventory Management AI.</p>\n      \n      <div class=\"order-box\">\n        Please generate a new Purchase Order for the following:<br><br>\n        <span class=\"dynamic-data\">{{ $json.content.parts[0].text }} units</span> of <span class=\"dynamic-data\">{{ $('mapping').item.json.body.product_name }}</span>\n      </div>\n\n      <p>Please confirm receipt of this request and provide an estimated delivery schedule at your earliest convenience.</p>\n      <p>Thank you,<br><strong>RetailFlow Autonomous Agent</strong></p>\n    </div>\n    <div class=\"footer\">\n      This is an automated notification. Please do not reply directly to this email address.\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1712,
        432
      ],
      "id": "5f0eae70-ce52-4c63-a8ca-07d1bd237c8a",
      "name": "Restock alert mail",
      "webhookId": "d04bbc1a-191b-4e59-90dd-eec51184f49c",
      "credentials": {
        "gmailOAuth2": {
          "id": "zUTr5IYbl54be9dP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are the Smart Reorder Decision Agent for the RetailFlow AI system.\n\nThe current stock quantity for this item is: {{ $('Webhook').item.json.body.current_stock }}\n\nYour rules:\n1. The minimum safety stock threshold is 20 units.\n2. The maximum shelf capacity is 100 units.\n3. If the current stock is strictly below 20, calculate how many units need to be ordered to reach exactly 100.\n4. If the stock is 20 or above, the reorder amount is 0.\n\nCRITICAL: Output ONLY the final calculated number. Do not say \"The reorder amount is...\" or include any punctuation. Return just the integer."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1152,
        432
      ],
      "id": "48f877a4-2034-4616-889f-5fc98ae1189c",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "uIbJE26uxUM4ucr0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "mapping": [
      {
        "json": {
          "body": {
            "quantity": 1,
            "id": 3,
            "customer_id": 11
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mapping": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Restock alert mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a8de6154-112b-459f-bb98-e1db0dc17bc0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "39ae8e95327548d33983ff1da8890d929a7c31a1dd477a04755c2e054ca1fd75"
  },
  "id": "Fnw1hjz1Enf0BlOV",
  "tags": []
}