Demand Forecasting Agent.json
{
  "name": "Demand Forecasting Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -544,
        0
      ],
      "id": "4b38d829-30c4-4031-82b9-03750e728e24",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM sales ORDER BY id DESC LIMIT 50;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -304,
        0
      ],
      "id": "9f7b07e6-36ad-4b3f-81a2-62fc71c84f05",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "COOvaO3RdtNB2qoz",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are the lead AI Demand Forecaster for RetailFlow.\n\nHere is the raw JSON data of our 50 most recent sales transactions:\n{{ JSON.stringify($input.all().map(item => item.json)) }}\n\nYour task:\n1. Analyze the sales data to see which product_ids are selling.\n2. Act as a business strategist and write a short, professional recommendation to the manager on what needs to be restocked for next month and why. \n3. Even if there is only a little bit of data, give a confident recommendation based on what you see."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -80,
        0
      ],
      "id": "9bb98b4e-2120-496d-9c38-d35f928ab8b1",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "uIbJE26uxUM4ucr0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5169216044",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        0
      ],
      "id": "fbd33812-f167-4d7e-8153-4cfbdfa67f46",
      "name": "Send a text message",
      "webhookId": "6b717f9c-1740-4a16-ad2c-f8edd234707d",
      "credentials": {
        "telegramApi": {
          "id": "By6xXIaL0gi2SAUL",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9c3ce7ac-e8bf-4816-b6ee-b3cad899dc4c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "39ae8e95327548d33983ff1da8890d929a7c31a1dd477a04755c2e054ca1fd75"
  },
  "id": "n4PSHbacXSFbbTxB",
  "tags": []
}