Financial Reporting Agent.json
{
  "name": "Financial Reporting Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -624,
        0
      ],
      "id": "c9d1bfec-0b87-49f1-9aef-a381e3d244eb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    COUNT(s.id) as total_orders, \n    SUM(p.price * s.quantity) as total_revenue \nFROM sales s\nJOIN products p ON s.product_id = p.id\nWHERE DATE(s.timestamp) = CURDATE();",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -352,
        0
      ],
      "id": "5e2d4dac-ef38-4cd7-92eb-047bef22cbd7",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "LqCaJvLVJSWsch7t",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=\"You are an AI Financial Analyst for a retail business.\n\nData Input:\nToday's Total Orders: {{ $json.total_orders }}\nToday's Total Revenue: {{ $json.total_revenue }} BDT\n\nTask:\nWrite a 2-3 sentence executive summary for the store manager. If revenue is over 5,000 BDT, call it a 'High-Performance Day'. If it's 0, suggest checking the system logs. Use a professional and encouraging tone.\""
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        -96,
        0
      ],
      "id": "c40a8568-63af-4332-9946-26cd8c1c3ccd",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "pLS88ockeug0VceI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5169216044",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        0
      ],
      "id": "fb34acc6-7cef-4281-914a-753b885e7b97",
      "name": "Send a text message",
      "webhookId": "6f61ea58-70ac-4db7-8fa5-01cd263e53e2",
      "credentials": {
        "telegramApi": {
          "id": "1UnuBmqLXjijtUmo",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a9fb3763-7c60-432d-907e-65320a023b56",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce62150a4f24a409dc3ba82bb588952b8fea7eedf38318e03bd3a93b8f0b9ede"
  },
  "id": "4yqhNWkYYQxo2WKg",
  "tags": []
}